# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled class file
*.class

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Application properties
#application*.yml
#application*.yaml

# D'autres fichiers inutiles
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# claude
claude/

# Postman import artifacts
#postman/postman/

# Eco-benchmark logs
eco-benchmark/
logs/k6-benchmark/
